/*impostazioni generali */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: gray;
}
body > *{
    margin: 15px 10% 15px 10%;
}

.stile-immagine{
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
.overlay{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;

}

a{
    text-decoration: none;
}

/*intestazione pagina */

#logo{
    height: 70px;
}

/* Menù di navigazione */
.list-inline > li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 3% 3% 3% 0;
}

.list-inline > li a:hover{
    color: gray;
}

/*Banner*/
.immagine-banner{
    background-image: url(../img/banner.jpg);

}
.dim-ban{
    height: 400px;
}

.titolo-banner{
    font-size:  32px;
    font-weight: 400;
}
.impaginazione-testo-banner{
    padding: 100px 40px 50px 40px;
    color: white;
}

/*organizzazione main*/

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.superiore{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.impaginazione-main{
    float: left;
}

.centrale{
    width: 48%;
    margin-left: 2%;
    margin-right: 2%;
}

.destra,
.sinistra{
    width: 24%;

}
/* contenuti main */
h1{
    color: black;
}
.immagine-sinistra{
    background-image: url(../img/img-1.jpg);

}
.immagine-destra{
    background-image: url(../img/img-3.jpg);

}
.immagine-centrale{
    background-image: url(../img/banner-2.jpg);
}

.dimensione-immagine-main{
    height: 220px;
    width:100%;
    
}

.titolo-sezione{
    line-height: 50px;
    color: black;
}

/* footer */
.crediti{
    text-align: center;
}

.mood{
    color: red;
}
